[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.4.4"
motor = "==2.0.0"

[dev-packages]
mypy = "==0.630"
wemake-python-styleguide = "==0.2.0"

[requires]
python_version = "3.7"
